{% extends 'nav-bar_participant.html' %}

{%block content %}


{%load staticfiles %}

<div class=" container">
	<div class="row">
		<br><br><br><br><br><br><br><br><br><br><br><br>

		<div class="col-md-6">
			<br><br><br><br><br><br><br><br><br>

			<h3 class="text-center">Write Blogs Participant</h3>
			<hr class="bg-danger col-md-8">


			{% if error %}
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<strong> {{error}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{%endif%}



			<!-- Alerts -->



			<form action=" {% url 'part-blog_write' %}" method="POST">

				{% csrf_token %}

				<div class="form-group">
					<label for="firstname"> Title &ast;</label>
					<input type="text" class="form-control border border-danger" name="blog_title" id="person_name"
						placeholder="Blog Title">
				</div>

				<div class="form-group" id="froala-editor">

					<label for="Person Name">Description&ast; </label>
					<textarea class="form-control border border-danger" placeholder="Description"
						name="description"></textarea>
				</div>
				<div class="form-group">
					<label for="Person Name">Image First &ast; </label>
					<input type="file" class="form-control border border-danger" name="image_first" id="event_startdate"
						placeholder="First Image ">

				</div>
				<div class="form-group">
					<label for="city">Second Image &ast; </label>
					<input type="file" class="form-control border border-danger" name="image_second" id="org_by"
						aria-describedby="emailHelp" placeholder="Second Image ">
				</div>

				<div class="form-group">
					<label for="mobile no">Blog Category &ast; </label>
					<input type="text" class="form-control border border-danger" name="blog_category" id="password"
						placeholder="Blog Category">

				</div>

				<div class="form-group">
					<label for="Person Name">Refrence Link &ast; </label>
					<input type="text" class="form-control border border-danger" name="refrence_link" id="person_name"
						placeholder="Refrence Links ">

				</div>
				<div class="form-group">

					<input type="submit" class="btn btn-outline-danger bg-dark text-white" id="password"
						aria-describedby="emailHelp" value="Submit">

				</div>

			</form>

		</div>

		<div class="col-md-6">
			<br><br><br><br><br><br><br><br><br><br><br>


			<a href="{% url 'partblogsDetails' %}" class="btn btn-dark btn-outline-danger text-white">
				Edit Blog</a>




			<div class="modal fade bd-example-modal-lg" id="edit{{event.id}}" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-xl " role="document">
					<div class="modal-content">
						<div class="modal-header bg-dark">
							<h5 class="modal-title text-danger" id="exampleModalLabel">Blogs Written</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body shadow-sm p-3 mb-5 bg-white rounded">
							{% if error %}
							<div class="alert alert-info alert-dismissible fade show" role="alert">
								<strong> {{error}}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							{%endif%}

							<table class="table table-bordered  table-info table-hover ">
								<thead class="thead-dark text-danger">

									<tr class="text-danger">
										<th class="text-info text-center"> Blog Title</th>
										<th class="text-info text-center">Description</th>
										<th class="text-info text-center"> First Image</th>

										<th class="text-info text-center">Second Image </th>
										<th class="text-info text-center">Blog Category </th>
										<th class="text-info text-center">Refrence Link</th>



									</tr>

								</thead>
								{% for blog in blogsInfo.all %}

								<tr>


									<td class="text-dark text-center">{{ blog.title }} </td>

									<td class="text-dark text-center"> {{ blog.summary }}</td>
									<td class="text-dark text-center"><img src="{{ blog.imageFirst.url }}" height="100"
											width="100s"></td>

									<td class="text-dark text-center"><img src="{{ blog.imageSecond.url }} "
											height="100" width="100s"> </td>

									<td class="text-dark text-center">

										{{ blog.blogCategory }}
									</td>


									<td class="text-dark text-center">

										{{ blog.refrenceLinks }}


									</td>

								</tr>
								{% endfor %}
							</table>



						</div>
						<div class="modal-footer bg-dark">
							<button type="button" class="btn btn-dark btn-outline-danger text-white"
								data-dismiss="modal">Close</button>
							<!-- <button type="button" class="btn  btn-dark btn-outline-info">Save changes</button>-->
						</div>

					</div>
				</div>

			</div>


		</div>
	</div>
</div>





{% endblock %}