{% extends 'nav-bar_participant.html' %}

{%block content %}


{%load staticfiles %}

<br><br><br><br><br>

<div class="container">
	<div class="row">
		<div class="col-md-12 col-lg-14 col-xl-12  col-sm-12">
			<div class="card border-danger">
				<div class="card-header border-danger">
					<h3 class="card-title text-center">
						{{ events.event_title }} </h3>
					<a class="btn-dark btn-outline-danger btn  float-right text-white"
						href="{%  url 'enquire' events.id %}"> Enquire</a></h3>
					<a class="btn-dark btn-outline-danger btn text-white"
						href="{%  url 'part_shareresources' events.id %}"> Share Resources</a></h3>
					<a class="btn-dark btn-outline-danger btn text-white" href="{%  url 'enquire' events.id %}"> Event
						Feedback</a></h3>
				</div>
				<div class="card-body">

					<center>
						<h4>You are successfully participated in this event</h4>
					</center>

					<td class="text-dark text-center">Event Category
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
						{{ events.event_category }} </td><br />
					<td class="text-dark text-center">Event Organizer Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
						{{ events.org_name }} </td><br />
					<td class="text-dark text-center">Event Contact Person &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
						{{ events.org_contact_person }} </td><br>
					<td class="text-dark text-center">Organizer Mobile number : {{ events.org_mobile }} </td><br />
					<td class="text-dark text-center">Event Organizer Email id &nbsp;&nbsp;: {{ events.org_email }}
					</td><br>
					<br />Event Description &nbsp;&nbsp;:
					<p class="card-text" align="justify">{{ events.event_description }}</p>
				</div>

				<div class="card-footer text-muted border-danger">
					<h6 class="text-center text-danger"> {{events.event_startdate  }}--{{events.event_enddate}}</h6>
				</div>
			</div>
		</div>
	</div><br>

	<center>
		<h1> Event Details</h1>
	</center>
	<div class="row">
		<div class="col-md-12 col-xl-12 col-sm-12">

			{% if error %}

			<h1>{{error}}</h1>
			{% endif %}
			<div class="card border-danger">
				<div class="card-header border-danger">
					<h3 class="text-center text-danger">
						{{ events.event_title }}</h3>
				</div>
				<div class="card-body">
					<div class="float-right"><br>
						<img src="/media/images/event_poster/{{events.event_poster}}" class="border-primary" height="300" width="300">
					</div>

					<div class="col-md-8 col-sm-8">

						<h6 class="card-text"> {{ events.event_description }} </h6>


						<ul class="list-group list-group-flush">

							<li class="list-group-item d-flex justify-content-between align-items-center">
								Organised by:
								<span class="badge ">
									<h6>{{ events.org_name }}</h6>
								</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Organiser Email:
								<span class="badge  ">
									<h6>{{events.org_email}}</h6>
								</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Organiser Mobile Number:
								<span class="badge ">
									<h6> {{events.org_mobile}}</h6>
								</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Organiser Name:
								<span class="badge ">
									<h6>{{events.org_contact_person}}</h6>
								</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Expected Participant:
								<span class="badge ">
									<h6>{{eventdet.expected_participant}}</h6>
								</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Event Level:
								<span class="badge ">
									<h6>{{eventdet.event_level}}</h6>
								</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Event Facility:
								<span class="badge ">
									<h6>{{eventdet.facility}}</h6>
								</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Event Category:
								<span class="badge ">
									<h6>{{events.event_category}}</h6>
								</span>
							</li>
						</ul>
					</div>


				</div>
				<div class="card-footer text-muted border-danger">

					<h6 class="text-center text-danger"> {{events.event_startdate  }}--{{events.event_enddate}}</h6>
				</div>
			</div>

		</div>
	</div>

</div>

<br><br><br>
</div>


{% endblock %}
