{% extends 'nav-bar_participant.html' %}

{%block content %}


{%load staticfiles %}


<br><br><br><br><br><br>

<div class="container">
  <!-- <h2 class="text-center">Profile</h2> -->
  <hr class="bg-danger col-md-8">

  <style>
    p {
      padding-top: 10px;
    }
  </style>
  <div class="container col-md-10">
    <div class="card border border-danger ">
      <!--style="width: 18rem;">-->
      <div class="card-body">
        <h2 class="card-title text-center">Profile</h2>
        <hr class="bg-danger col-md-8">
        <!-- <h6 class="card-subtitle mb-2 text-muted">Helps to organise event</h6> -->
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <p class="card-text">
              User Name
            </p>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              : {{ user }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <p class="card-text">
              First Name
            </p>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              : {{ user.first_name }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <p class="card-text">
              Last Name
            </p>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              : {{ user.last_name }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <p class="card-text">
              Email
            </p>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              : {{ user.email }}
            </p>
          </div>
        </div>
        <hr class="bg-danger col-md-8">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <a href="{% url 'part_editProfile' %}" class="btn btn-dark btn-outline-danger text-light">Edit Profile</a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'req_pdf' %}" class="btn btn-dark btn-outline-danger text-light">Get PDF</a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'deleteparticipant' %}" class="btn btn-dark btn-outline-danger text-light">Delete Profile</a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="bg-danger col-md-8">
</div>
<br><br>
{% endblock %}
