{% extends 'navbar.html' %}

{%block content %}

{%load staticfiles %}

<br><br><br><br><br>

<div class="container">
  <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-6">
      <h3 class="text-center">Event Details</h3>
      <hr class="bg-info col-md-8">
      {% if error %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong> {{error}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endif%}
      {% if registered %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> {{ registered }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endif%}
      <script type="text/javascript">
        function validate() {
          var reg_email = /^([A-Za-z0-9_\-\.]){1,}\@([A-Za-z0-9_\-\.]){1,}\.([A-Za-z]{2,4})$/;
          var reg_file = /(\.pdf|\.docx|\.doc)$/i;
          var str_event = "Select your Event";
          var str_level = "Select Event Level";
          // alert("hai");
          var sel_event = document.forms["event_details_form"]["event_name"].value;
          var num_part = document.forms["event_details_form"]["no_participant"].value;
          var exp_part = document.forms["event_details_form"]["expected_participant"].value;
          var sel_level = document.forms["event_details_form"]["event_level"].value;
          var elig = document.forms["event_details_form"]["eligibility"].value;
          var pre = document.forms["event_details_form"]["prerequisite"].value;
          var faclty = document.forms["event_details_form"]["facilities"].value;
          var doc = document.forms["event_details_form"]["event_detail_docs"].value;
          // alert("hai");
          if (sel_event == str_event) {
            var msg = "INVALID EVENT TYPE. PLEASE ENTER A VALID EVENT TYPE";
            // alert("hai");
            document.getElementById("error_title_div").style.visibility = 'visible';
            document.getElementById("error_para").innerHTML = msg;
            // document.getElementById("error_type").innerHTML = msg;
            document.forms["event_details_form"]["event_name"].focus();
            return false;
          }

          if (sel_level == str_level) {
            var msg = "INVALID EVENT TYPE. PLEASE ENTER A VALID EVENT TYPE";
            document.getElementById("error_title_div").style.visibility = 'visible';
            document.getElementById("error_para").innerHTML = msg;
            // alert("hai");
            // document.getElementById("error_type").innerHTML = msg;
            document.forms["event_details_form"]["event_level"].focus();
            return false;
          }

          if (reg_file.test(doc) == false) {
            msg = "INVALID FILE TYPE";
            document.getElementById("error_title_div").style.visibility = 'visible';
            document.getElementById("error_para").innerHTML = msg;
            // document.getElementById("error_file_type").innerHTML = msg;
            document.forms["event_details_form"]["event_detail_docs"].focus();
            return false;
          }

        }
      </script>
      <form action=" {% url 'eventdetails' %}" method="POST" name="event_details_form" id="event_details_form"
        onsubmit="return validate()">
        {% csrf_token %}
        <div class="alert alert-info alert-dismissible fade show" role="alert" id="error_title_div"
          name="error_title_div" style="visibility: hidden">
          <p id="error_para" name="error_para"></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
          <label for="event_name">Select Event&ast;</label>
          <select class="form-control   border border-info" name="event_name" id="event_name" required>
            <option class="form-control border border-info">Select your Event</option>
            {% for eve in eventsOrganise.all %}
            <option class="form-control   border border-info"> {{ eve.event_title }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="no_participant">Number of Particpants&ast; </label>
          <input type="Number" class="form-control border border-info" name="no_participant" id="no_participant"
            aria-describedby="emailHelp" placeholder="Number of Particpants" required>
        </div>
        <div class="form-group">
          <label for="expected_participant">Number of Teams&ast; </label>
          <input type="Number" class="form-control border border-info" name="expected_participant"
            id="expected_participant" aria-describedby="emailHelp" placeholder="Number of teams" required>
        </div>
        <div class="form-group">
          <label for="event_level">Level of event&ast;</label>
          <select name="event_level" id="event_level" class="form-control  border border-info" required>
            <option class="form-control border border-info">Select Event Level</option>
            <option class="form-control border border-info">Zonal</option>
            <option class="form-control border border-info">State</option>
            <option class="form-control border border-info">National</option>
          </select>
        </div>
        <div class="form-group">
          <label for="eligibility"> Eligibility&ast; </label>
          <input type="text" class="form-control border border-info" name="eligibility" id="eligibility"
            aria-describedby="emailHelp" placeholder="MCA/MSC/BCA/BBA/" required>
        </div>
        <div class="form-group">
          <label for="prerequisite">Prerequisite&ast; </label>
          <textarea name="prerequisite" id="prerequisite" class="form-control border border-info" required></textarea>
        </div>
        <div class="form-group">
          <label for="facilities"> Facilities&ast; </label>
          <input type="text" class="form-control border border-info" name="facilities" id="facilities"
            placeholder="Person Name " required>
        </div>
        <div class="form-group">
          <label for="event_detail_docs">Event Details Document&ast; </label>
          <input type="file" class="form-control border border-info" required name="event_detail_docs"
            id="event_detail_docs" placeholder="Event Poster ">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-outline-info bg-dark" id="password" aria-describedby="emailHelp" required
            value="Submit">
        </div>
      </form>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
      <br>
      <br>
      <br>
      <div class="row ">
        <div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
            <a href="{% url 'editRubrics' %}" class="btn btn-dark btn-outline-info text-light">
                View Event Details</a>
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
            <a href="{% url 'editRubrics' %}" class="btn btn-dark btn-outline-info text-light">
                Edit Event Details</a>
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
            <a href="{% url 'editRubrics' %}" class="btn btn-dark btn-outline-info text-light">
                Delete Event Details</a>
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
            <a href="{% url 'EventLocationload' %}" class="bg-dark btn btn-outline-info text-light"> Add Venue
                Details</a>
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
            <a href="{% url 'view_locatiion' %}" class="btn btn-dark btn-outline-info text-light"> View Venue
                Details</a>
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
            <a href="{% url 'view_locatiion' %}" class="btn btn-dark btn-outline-info text-light"> Edit Venue
                Details</a>
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
      </div>
      <!-- <div class="row">
        <table class="table table-bordered  table-light table-hover ">
          <tr class="text-dark">
            <td class="text-dark text-center">
              <a href="{% url 'editRubrics' %}" class="btn btn-dark btn-outline-info text-light">
                View Event Details</a>
            </td>
          </tr>
          <tr class="text-dark">
            <td class="text-dark text-center">
              <a href="{% url 'editRubrics' %}" class="btn btn-dark btn-outline-info text-light">
                Edit Event Details</a></td>
          </tr>
          <tr class="text-dark">
            <td class="text-dark text-center">
              <a href="{% url 'editRubrics' %}" class="btn btn-dark btn-outline-info text-light">
                Delete Event Details</a></td>
          </tr>
          <tr class="text-dark">
            <td class="text-dark text-center">
              <a href="{% url 'EventLocationload' %}" class="bg-dark btn btn-outline-info text-light"> Add Venue
                Details</a>
            </td>
          </tr>
          <tr class="text-dark">
            <td class="text-dark text-center">
              <a href="{% url 'view_locatiion' %}" class="btn btn-dark btn-outline-info text-light"> View Venue
                Details</a>
            </td>
          </tr>
          <tr class="text-dark">
            <td class="text-dark text-center">
              <a href="{% url 'view_locatiion' %}" class="btn btn-dark btn-outline-info text-light"> Edit Venue
                Details</a>
            </td>
          </tr>
        </table>
      </div> -->
    </div>

    <!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleFormControlInput1">Selected Event</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="event_title" value=""
                  placeholder="Event Title">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Selected Event</label>
                <select name="event_name" class="form-control   border border-info">
                  <option class="form-control border border-info">Selected Event </option>
                  <option class="form-control border border-info">hackathons </option>
                  <option class="form-control border border-info">Tech Fest </option>
                  <option class="form-control border border-info"> Gaming Event</option>
                  <option class="form-control border border-info"> Workshop </option>
                  <option class="form-control border border-info"> IT Fest </option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">Number of Participant</label>
                <input type="Number" class="form-control" id="exampleFormControlInput1" value="" name="no_participant"
                  value="" placeholder="Organisation Name">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Expected Participant</label>
                <input type="Number" class="form-control" id="exampleFormControlInput1" name="expected_participant"
                  value="" placeholder="Organisation Emial">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Number of Level</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="event_level" value=""
                  placeholder="Organisation Mobile Number">
                <select name="event_category" class="form-control   border border-info">
                  <option class="form-control border border-info">Selected Event </option>
                  <option class="form-control border border-info">hackathons </option>
                  <option class="form-control border border-info">Tech Fest </option>
                  <option class="form-control border border-info"> Gaming Event</option>
                  <option class="form-control border border-info"> Workshop </option>
                  <option class="form-control border border-info"> IT Fest </option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Eligibility/Course /Class</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name=",eligibility" value=""
                  placeholder="Contact Person Name">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Prerequisite </label>
                <textarea name="prerequisite"> </textarea>
                <input type="file" class="form-control" id="exampleFormControlInput1" name="prerequisite"
                  placeholder="name@example.com">
                <img src="" height="200" width="200" />
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Facilities * </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="facilities" value=""
                  placeholder="name@example.com">
                <label></label>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Event Details Document* </label>
                <input type="file" class="form-control" id="exampleFormControlInput1" name="event_detail_docs"
                  value=" placeholder=" name@example.com">
                <label>file name</label>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-outline-info bg-dark" name="Submit" id="password"
                  aria-describedby="emailHelp" value="Submit">
              </div>
            </form>
          </div>
          <div class="modal-footer bg-dark">
            <button type="button" class="btn btn-outline-info bg-dark" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-info bg-dark">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="edit{{event.id}}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-xl " role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-info" id="exampleModalLabel">Rubrics Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body shadow-sm p-3 mb-5 bg-white rounded">
            {% if error %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <strong> {{error}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {%endif%}
            <table class="table table-bordered  table-info table-hover ">
              <thead class="thead-dark text-info">
                <tr class="text-info">
                  <th class="text-info text-center"> Event Title </th>
                  <th class="text-info text-center">No Particiapnt</th>
                  <th class="text-info text-center"> Event Level</th>
                  <th class="text-info text-center">Eligibility </th>
                  <th class="text-info text-center">Prerequisite </th>
                  <th class="text-info text-center">Facilities</th>
                  <th class="text-info text-center">Event Detailed Document</th>
                </tr>
              </thead>
              {% for event in eventDetails.all %}
              <tr>
                <td class="text-dark text-center"> {{ event.event }} </td>
                <td class="text-dark text-center"> {{ event.no_participant }} </td>
                <td class="text-dark text-center"> {{ event.event_level }} </td>
                <td class="text-dark text-center"> {{ event.eligibility }} </td>
                <td class="text-dark text-center"> {{ event.prerequisite }} </td>
                <td class="text-dark text-center"> {{ event.facility }} </td>
                <td class="text-dark text-center"> {{ event.event_detail_docs.url }} </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="modal-footer bg-dark">
            <button type="button" class="btn btn-dark btn-outline-info" data-dismiss="modal">Close</button>
             <button type="button" class="btn  btn-dark btn-outline-info">Save changes</button>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>

{% endblock %}