{% extends 'navbar.html' %}

{%block content %}


{%load staticfiles %}
<br><br><br><br>
<div class=" container">
	<div class="row shadow p-3 mb-5 bg-white rounded">
		<div class="col-md-6">
			<h3 class="text-center">Write Blogs</h3>
			<hr class="bg-info col-md-8">
			{% if error %}
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<strong> {{error}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{%endif%}
			<form action=" {% url 'WriteBlog' %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="blog_title"> Title&ast;</label>
					<input type="text" class="form-control border border-info" name="blog_title" id="blog_title"
						placeholder="Blog Title" required>
				</div>
				<div class="form-group" id="froala-editor">
					<label for="description">Description&ast; </label>
					<textarea class="form-control border border-info" placeholder="Description"
						id="description" name="description" required></textarea>
				</div>
				<div class="form-group">
					<label for="image_first">Image First&ast; </label>
					<input type="file" class="form-control border border-info" name="image_first" id="image_first"
						placeholder="First Image " required>
				</div>
				<div class="form-group">
					<label for="image_second">Second Image&ast; </label>
					<input type="file" class="form-control border border-info" name="image_second" id="image_second"
						aria-describedby="emailHelp" placeholder="Second Image " required>
				</div>
				<div class="form-group">
					<label for="blog_category">Blog Category&ast; </label>
					<input type="text" class="form-control border border-info" name="blog_category" id="blog_category"
						placeholder="Blog Category" required>
				</div>
				<div class="form-group">
					<label for="refrence_link">Refrence Link&ast; </label>
					<input type="text" class="form-control border border-info" name="refrence_link" id="refrence_link"
						placeholder="Refrence Links " required>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-outline-info bg-dark" id="password" aria-describedby="emailHelp"
						value="Submit">
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<br> <br>
			<br>
			<div class="row">
				<table class="table table-bordered  table-light table-hover ">
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'blogsDetails' %}" class="btn btn-dark btn-outline-info text-light">
								Edit Blog</a>
						</td>
					</tr>
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'blogsDetails' %}" class="btn btn-dark btn-outline-info text-light">
								Delete Blog</a>
						</td>
					</tr>
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'view_org_blog' %}" class="btn btn-dark btn-outline-info text-light">
								View Blog</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="modal fade bd-example-modal-lg" id="edit{{event.id}}" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-xl " role="document">
					<div class="modal-content">
						<div class="modal-header bg-dark">
							<h5 class="modal-title text-info" id="exampleModalLabel">Blogs Written</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body shadow-sm p-3 mb-5 bg-white rounded">
							{% if error %}
							<div class="alert alert-info alert-dismissible fade show" role="alert">
								<strong> {{error}}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							{%endif%}
							<table class="table table-bordered  table-info table-hover ">
								<thead class="thead-dark text-info">
									<tr class="text-info">
										<th class="text-info text-center"> Blog Title</th>
										<th class="text-info text-center">Description</th>
										<th class="text-info text-center"> First Image</th>
										<th class="text-info text-center">Second Image </th>
										<th class="text-info text-center">Blog Category </th>
										<th class="text-info text-center">Refrence Link</th>
									</tr>
								</thead>
								{% for blog in blogsInfo.all %}
								<tr>
									<td class="text-dark text-center">{{ blog.title }} </td>
									<td class="text-dark text-center"> {{ blog.summary }}</td>
									<td class="text-dark text-center"><img src="../../media/images/{{ blog.imageFirst.url }}" height="100"
											width="100s"></td>
									<td class="text-dark text-center"><img src="../../media/images/{{ blog.imageSecond.url }} "
											height="100" width="100s"> </td>
									<td class="text-dark text-center">
										{{ blog.blogCategory }}
									</td>
									<td class="text-dark text-center">
										{{ blog.refrenceLinks }}
									</td>
								</tr>
								{% endfor %}
							</table>
						</div>
						<div class="modal-footer bg-dark">
							<button type="button" class="btn btn-dark btn-outline-info"
								data-dismiss="modal">Close</button>
							<!-- <button type="button" class="btn  btn-dark btn-outline-info">Save changes</button>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}