{% extends 'navbar.html' %}

{%block content %}


{%load staticfiles %}


<br><br><br><br>
<div class="container">
  <h3 class="text-center"> Shared Resources </h3>
  <hr class="bg-info col-md-10">
  <div class="row">
    {% for share in share_resource.all %}
    <div class="col-md-6">
      <div class="card border border-info ">
        <div class="card-body">
          <h5 class="card-title text-center">{{ share.event_title }} </h5>
          <hr class="bg-info col-md-8">
          <p class="card-text"> Subject &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ share.subject}} </p>
          <p class="card-text"> Description :<br> {{ share.description }} </p>
          <p class="card-text"> Link
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{share.resourceLink}}
          </p>
          <p class="card-text">Document &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;{{ share.documentFile }} </p>
            <button class=" btn">
              <a href="/media/images/shared_resources_docs/{{share.documentFile}}"
                class="btn btn-dark btn-outline-info" download>Download Document</a>
            </button>
          <p class="card-text"> Publisher &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ share.publisedBy }} </p>
          <img src="media/images/shared_resources/{{share.resourceImage}}" height="480" width="480">
          <br><br>
          <div class="row">
            <button class=" btn"> <a href="#" class="btn btn-dark btn-outline-info" data-toggle="modal"
                data-target="#edit{{share.id}}">
                Edit Resources</a></button>
            <button class=" btn"> <a href="" class="btn btn-dark btn-outline-info" data-toggle="modal"
                data-target="#delete{{share.id}}">
                Delete Resources</a></button>

            <div class="modal fade" id="delete{{share.id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content ">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title text-info" id="exampleModalLongTitle">{{ share.event_title }}</h5>
                    <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-center">
                    {{ share.event_title }}
                    <a href="{% url 'deleteresourcedetails' share.id %}"
                      class="btn btn-dark btn-outline-info">delete</a>
                    <br><br>
                    <div class="modal-footer bg-dark">
                      <button type="button" class="btn btn-outline-info bg-dark" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="edit{{share.id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content ">
                  <div class="modal-header bg-dark">
                    <h5 class="modal-title text-info" id="exampleModalLongTitle">{{ share.event_title}}</h5>
                    <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <center>
                      <form action="{% url 'update_shareResources' share.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Event Title</label>
                          <input type="text" class="form-control" name="event_name" value="{{ share.event_title }}"
                            placeholder="Event Title">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Subject</label>
                          <input type="text" class="form-control" name="subject" value="{{ share.subject }}"
                            placeholder="Event Title">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Description</label>
                          <textarea class="form-control" name="description"> {{ share.description }} </textarea>
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect2">Resource Link/Github/Drive/Dropbox</label>
                          <input type="text" class="form-control" value="{{share.resourceLink}}" name="addlinks">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Published By</label>
                          <input type="text" class="form-control" id="exampleFormControlInput1" name="published_by"
                            value="{{ share.publisedBy }}" placeholder="Organisation Emial">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Resource Image/Poster</label>
                          <input type="file" class="form-control" id="exampleFormControlInput1" name="share_image"
                            value="media/images/shared_resources/{{share.resourceImage}}"
                            placeholder="Organisation Emial">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlInput1"> Document File</label>
                          <input type="file" class="form-control" id="exampleFormControlInput1" name="document_file"
                            value="{{ share.documentFile }}" placeholder="">
                        </div>
                        <div class="form-group">
                          <input type="submit" class="btn btn-outline-info bg-dark" name="Submit" id="password"
                            aria-describedby="emailHelp" value="Submit">
                        </div>
                      </form>
                    </center>
                  </div>
                  <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-outline-info bg-dark" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}
  </div>
  <hr class="bg-info col-md-10">
</div>


{% endblock %}