<html>


{% load staticfiles %}
<head>
  <title>
  TECHEVENT
    </title>

    <link rel="icon" href="{% static '../media/images/techeventlogo.png' %}">

  {% if user.is_authenticated %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</head>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'organiserIndex' %}"><button type="button" class="btn btn-outline-info"
      style="color: white">Tech Event</button></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-auto" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item fg-white">
        <a class="nav-link" href="{% url 'organiseEvent' %}"><button type="button" class="btn btn-outline-info"
            style="color: white">Organise Event </button><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item  fg-white">
        <a class="nav-link " href="{% url 'addEventDetails' %}"><button type="button"
            class="btn btn-outline-info" style="color: white">Event Details</button></a>
      </li>
      <li class="nav-item  fg-white">
        <a class="nav-link" href="{% url 'shareResource'  %}"><button type="button"
            class="btn btn-outline-info" style="color: white">Share Resources</button></a>
      </li>
      <li class="nav-item  fg-white">
        <a class="nav-link" href="{% url 'sponsorShip' %}"><button type="button"
            class="btn btn-outline-info" style="color: white">Sponsorship </button></a>
      </li>
      <li class="nav-item fg-white">
        <a class="nav-link" href="{% url 'registeredevent' %}"><button type="button" class="btn btn-outline-info"
            style="color: white">Your Events </button><span class="sr-only"></span></a>
      </li>
      <li class="nav-item fg-white ">
        <a class="nav-link " href="{% url 'view_locatiion'  %}"><button type="button" class="btn btn-outline-info"
            style="color: white">Venue Details</button></a>
      </li>
      <li class="nav-item  fg-white ">
        <a class="nav-link " href="{% url 'blog'  %}"><button type="button" class="btn btn-outline-info"
            style="color: white">Blogs</button></a>
      </li>
      <li class="nav-item  fg-white">
        <a class="nav-link " href="{% url 'profile_org'%}"><button type="button" class="btn btn-outline-info"
            style="color: white">Welcome {{ user.first_name }} </button></a>
      </li>
      <li class="nav-item  fg-white">
        <a class="nav-link " href="javascript:{document.getElementById('logout').submit()}">
          <button type="button" class="btn btn-outline-info" style="color: white">Logout</button>
        </a>
        <form action="{% url 'logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <input type="hidden" name="">
        </form>
      </li>
    </ul>
  </div>
</nav>

<body>
  {% block content%}


  {% endblock %}
</body>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="footer bg-dark navbar-fixed-bottom mr-auto">
  <div class="container pull-center bg-dark">
    <div class="row mr-auto ">

      <div class="col-md-3">
        <p>
          <h6 class="text-white text-center"> Know more about us <a class="  btn-outline-info"
              href="{% url 'aboutus' %}">
              here </a></h6>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <h6 class="text-white text-center"> &copy;Reserved to Hackathon 20{% now "y" %} </h6>
        </p>
      </div>
      <div class="col-md-5">
              <a class="btn btn-twitter" href="" style="padding-top: 15px">
          <button type="button" class=" fa fa-twitter btn btn-outline-info"></button>
        </a>
        <a class="btn  btn-linkedin" href="" style="padding-top: 15px">
          <button type="button" class=" fa fa-linkedin btn btn-outline-info"></button>
        </a>
        <a class="btn btn-google" href="" style="padding-top: 15px">
          <button type="button" class="fa fa-google btn btn-outline-info"></button>
        </a>
        <a class="btn btn-facebook" href="" style="padding-top: 15px">
          <button type="button" class="fa fa-facebook btn btn-outline-info"></button>
        </a>
        <a class="btn btn-instagram" href="" style="padding-top: 15px">
          <button type="button" class="fa fa-instagram btn btn-outline-info"></button>
        </a>
        <a class="btn btn-github" href="" style="padding-top: 15px">
          <button type="button" class="fa fa-github btn btn-outline-info"></button>
        </a>
      </div>
    </div>
  </div>
</footer>

</html>
{% else %}

{% include 'index.html' %}

{% endif %}