{% extends 'navbar.html' %}

{%block content %}


{%load staticfiles %}

<br><br>
<br><br>

<div class="container">
  <h3 class="text-center">Dashboard</h3>
  <hr class="bg-info col-md-8">
  <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-4">
      <div class="card border border-info " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">View Participants</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">View the participant details</h6>
          <p class="card-text">Count the number of participants enrolled for the event! </p>
          <button class=" btn"> <a href="{% url 'organiseEvent' %}" class="bg-dark btn btn-outline-info text-light">Organise Event</a>
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4">
      <div class="card border border-info " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">View Sponsership</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">organise your sponserships</h6>
          <p class="card-text"> Check who all are ready to sponser for you ! </p>
          <button class=" btn"> <a href="{% url 'organiseEvent' %}" class="bg-dark btn btn-outline-info text-light">Organise Event</a>
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-4">
      <div class="card border border-info " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Share Snapshots</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">Share moments of your event</h6>
          <p class="card-text">Helps to share the event snapshots ! </p>
          <button class=" btn"> <a href="{% url 'organiseEvent' %}" class="bg-dark btn btn-outline-info text-light">Organise Event</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-4">
      <div class="card border border-info " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Organise Event</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">Helps to organise event</h6>
          <p class="card-text"> Start with registering your event with us ! </p>
          <button class=" btn"> <a href="{% url 'organiseEvent' %}" class="bg-dark btn btn-outline-info text-light">Organise Event</a>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border border-info" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Events Details</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">Add more event details</h6>
          <p class="card-text">Add more event details and make people know about event.</p>
          <button class=" btn"> <a href="{% url 'addEventDetails' %}"
              class="bg-dark btn btn-outline-info text-light">Events
              Details</a></button>
          <!-- <a href="#" class="card-link">Another link</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border border-info" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Profile</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">See what you are !</h6>
          <p class="card-text">Gives a glance about yourselves.</p> <br>
          <button class=" btn"><a href="{% url 'profile_org' %}"
              class="bg-dark btn btn-outline-info text-light">Profile</a></button>
          <!-- <a href="#" class="card-link">Another link</a>-->
        </div>
      </div>
    </div>
    
  </div>
  <hr class="bg-info col-md-8">
  <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-4">
      <div class="card border border-info" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Share Resource</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">Share event resources !</h6>
          <p class="card-text">Helps you to share the event resources easly to all.</p><br>
          <button class=" btn"> <a href=" {% url 'shareResource' %}"
              class="bg-dark btn btn-outline-info text-light">Share
              Resource</a></button>
          <!--<a href="#" class="card-link">Another link</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border border-info" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Sponsorships</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">Give your sponsorship info</h6>
          <p class="card-text">Let the intreseted sponsers come before you.</p><br>
          <button class=" btn"><a href="{% url 'sponsorShip' %}" class="bg-dark btn btn-outline-info text-light">Sponsor
              Ship</a></button>
          <!--<a href="#" class="card-link">Another link</a>-->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border border-info" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Blog</h5>
          <hr class="bg-info col-md-8">
          <h6 class="card-subtitle mb-2 text-muted">Express your views !</h6>
          <p class="card-text">Lets you to share your thoughts and get connected together.</p>
          <br>
          <button class=" btn"> <a href="{% url 'blog' %}"
              class="bg-dark btn btn-outline-info text-light">Blogs</a></button>
          <!--<a href="#" class="card-link">Another link</a>-->
        </div>
      </div>
    </div>
  </div>

  <hr class="bg-info col-md-8">
  <div class="row shadow p-3 mb-5 bg-white rounded">
    <div>
      <div class="col-md-4">
        <div class="card border border-info" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Add Location Information</h5>
            <hr class="bg-info col-md-8">
            <h6 class="card-subtitle mb-2 text-muted">Share where is the event !</h6>
            <p class="card-text">Share the event venue details.</p><br>
            <button class=" btn"><a href="{% url 'EventLocationload' %}"
                class="bg-dark btn btn-outline-info text-light">Add Location Info</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="bg-info col-md-8">
</div>

{% endblock %}