{% extends 'navbar.html' %}

{% block content %}


{% load staticfiles %}

<br><br><br><br>

<div class="container">

  <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-12">
      <h3 class=" text-center">Events Details</h3>
      {% if updated %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong> {{updated}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%endif%}
      <hr class="bg-info col-md-10">
    </div>

    {%  for event in events.all  %}

    <div class="col-md-6">
      <div class="card border border-info ">
        <!--style="width: 18rem;">-->
        <div class="card-body">
          <h5 class="card-title text-center">{{ event.event_title }}</h5>
          <hr class="bg-info col-md-8">
          <center>
          <img src="/media/images/event_poster/{{event.event_poster}}" height="30%" width="50%;">
          </center>
            <hr class="bg-info col-md-8">
          <!-- <h6 class="card-subtitle mb-2 text-muted">Helps to organise event</h6> -->
          <p class="card-text"> Event Category &nbsp;&nbsp;&nbsp;: {{ event.event_category}} </p>
          <p class="card-text"> Organised By &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ event.org_name}} </p>
          <p class="card-text"> Organiser Email &nbsp;&nbsp;: {{ event.org_email}} </p>
          <p class="card-text"> Contact Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ event.org_contact_person }} </p>
          <p class="card-text"> Contact Number &nbsp;: {{ event.org_mobile }} </p>
          <p class="card-text"> {{ event.event_startdate }} - {{ event.event_enddate }} </p>
           <hr class="bg-info col-md-8">
          <div class="card-body">
          <center>
            <button class=" btn"><a href="#{% url 'eventEdit' event.id %}"
                class="btn btn-dark btn-outline-info text-light" data-toggle="modal"
                data-target="#exampleModal{{event.id}}">
                Details</a></button>
            <button class=" btn"> <a href="#{% url 'eventupdate' event.id %}"
                class="btn btn-dark btn-outline-info text-light" data-toggle="modal" data-target="#edit{{event.id}}">
                Edit Details</a></button>
            <button class=" btn"> <a href="" class="btn btn-dark btn-outline-info text-light" data-toggle="modal"
                data-target="#delete{{event.id}}">Delete Details</a></button>
        
            <button class=" btn"> <a href="{% url 'participants_event' event.id %}" class="btn btn-dark btn-outline-info text-light">Vew Participants</a></button>
            <button class=" btn"> <a href="{% url 'sponser_for_event' event.id %}" class="btn btn-dark btn-outline-info text-light">View Sponsers</a></button>
            <button class=" btn"> <a href="{% url 'sponser_for_event' event.id %}" class="btn btn-dark btn-outline-info text-light">View Feedback</a></button>
            </center>
          </div>
        </div>

        <div class="modal fade" id="delete{{event.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content ">
              <div class="modal-header bg-dark">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">{{ event.event_title }}</h5>
                <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center">
                {{ event.event_title }}
                <a href="{% url 'deleteeventdetails' event.id %}" class="btn btn-dark btn-outline-info">delete</a>
                <br><br>
                <div class="modal-footer bg-dark">
                  <button type="button" class="btn btn-outline-info bg-dark" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="edit{{event.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-dark col-md-12">
                <h5 class=" modal-title text-info" id="exampleModalLabel"> {{ event.event_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% if error %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                  <strong> {{error}}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {%endif%}
                <center>
                  <form action="{% url 'eventupdate' event.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Event Title</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" name="event_title"
                        value="{{ event.event_title }}" placeholder="Event Title">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Event Description</label>
                      <textarea class="form-control" name="event_description">{{ event.event_description }} </textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Event Category</label>
                      <select name="event_category" class="form-control   border border-info">
                        <option class="form-control border border-info">{{ event.event_category }}
                        </option>
                        <option class="form-control border border-info">hackathons </option>
                        <option class="form-control border border-info">Tech Fest </option>
                        <option class="form-control border border-info"> Gaming Event</option>
                        <option class="form-control border border-info"> Workshop </option>
                        <option class="form-control border border-info"> IT Fest </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect2">Organisation Name</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" name="org_by"
                        value="{{ event.org_name }}" placeholder="Organisation Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Organisation Email</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" name="org_email"
                        value="{{ event.org_email }}" placeholder="Organisation Emial">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Organisation Mobile</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" name="mobile"
                        value="{{ event.org_mobile }}" placeholder="Organisation Mobile Number">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Organisation Contact Person</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" name="person_name"
                        value="{{ event.org_contact_person }}" placeholder="Contact Person Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Event Poster</label>
                      <input type="file" class="form-control" id="exampleFormControlInput1" name="event_poster"
                        placeholder="name@example.com">
                      <br>
                      <img src="/media/images/event_poster/{{event.event_poster}}" height="200" width="200" />
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1"> Event Start Date </label>
                      <input type="date" class="form-control" id="exampleFormControlInput1" name="event_startdate"
                        value="{{ event.event_startdate }}" placeholder="name@example.com">
                      <label>{{ event.event_startdate }} </label>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Event End Date </label>
                      <input type="date" class="form-control" id="exampleFormControlInput1" name="event_enddate"
                        value="{{ event.event_enddate }}" placeholder="name@example.com">
                      <label>{{ event.event_enddate }} </label>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-outline-info bg-dark" name="Submit" id="password"
                        aria-describedby="emailHelp" value="Submit">
                    </div>
                  </form>
                </center>
              </div>
              <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-dark btn-outline-info" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal{{event.id}}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-dark col-md-12">
                <h6 class="text-info text-center">{{ event.event_title }} </h6>
                <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <h6>Event Category &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    {{ event.event_category}}</h6>
                </div>
                <div class="form-group">
                  <h6>Organisation Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ event.org_name}}</h6>
                </div>
                <div class="form-group">
                  <h6> Organisation Mobile &nbsp;&nbsp;&nbsp;&nbsp;: {{ event.org_mobile }}</h6>
                </div>
                <div class="form-group">
                  <h6>Contact Person&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;:
                    {{ event.org_contact_person}}</h6>
                </div>
                <div class="form-group">
                  <h6>Event Poster : </h6><br>
                  <img src="/media/images/event_poster/{{event.event_poster}}" class="text-center" height="400"
                    width="400" />
                </div>
                <div class="form-group">
                  <h6 class="text-center"> {{ event.event_startdate}} - {{ event.event_enddate }}</h6>
                </div>
              </div>
            </div>
            <div class="modal-footer bg-dark">
              <button type="button" class="btn btn-dark btn-outline-info" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn  btn-dark btn-outline-info">Save changes</button>-->
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>
    {% endfor %}
  </div>
  <hr class="bg-info col-md-8">
</div>
</div>


<!-- Modal -->

{% endblock %}