{% extends 'navbar.html' %}

{%block content %}


{%load staticfiles %}

<br><br><br><br>
<div class=" container">
	<div class="row shadow p-3 mb-5 bg-white rounded">
		<div class="col-md-6">
			<h3 class="text-center">Share Resource / Prerequisite for the event</h3>
			<hr class="bg-info col-md-8">
			{% if error %}
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<strong> {{error}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{%endif%}
			<script type="text/javascript">
				function validate() {
					var reg_name = /^([A-Za-z0-9_\-\.]){5,100}$/;
					var reg_only_char = /^([A-Za-z_\-\ \.]){5,}$/;
					var reg_img = /(\.jpg|\.jpeg|\.png)$/i;
					var reg_doc = /(\.pdf|\.docx|\.doc)$/i;
					var evnt_name = document.forms["share_resource"]["event_name"].value;
					var sub = document.forms["share_resource"]["subject"].value;
					var desc = document.forms["share_resource"]["descr"].value;
					var date = document.forms["share_resource"]["published_date"].value;
					var link = document.forms["share_resource"]["addlinks"].value;
					var doc_file = document.forms["share_resource"]["document_file"].value;
					var by = document.forms["share_resource"]["published_by"].value;
					var img = document.forms["share_resource"]["share_image"].value;
					var str = "Select Event Type";

					if (evnt_name == str) {
						var msg = "INVALID EVENT. PLEASE ENTER A VALID EVENT";
						document.getElementById("error_title_div").style.visibility = 'visible';
						document.getElementById("error_para").innerHTML = msg;
						// alert("hai");
						// document.getElementById("error_type").innerHTML = msg;
						document.forms["share_resource"]["event_name"].focus();
						return false;
					}

					if (reg_name.test(sub) == false) {
						msg = "INVALID SUBJECT. WRITE PROPER SUBJECT";
						document.getElementById("error_title_div").style.visibility = 'visible';
						document.getElementById("error_para").innerHTML = msg;
						// document.getElementById("error_file_type").innerHTML = msg;
						document.forms["share_resource"]["subject"].focus();
						return false;
					}

					if (reg_file.test(doc_file) == false) {
						msg = "INVALID FILE TYPE";
						document.getElementById("error_title_div").style.visibility = 'visible';
						document.getElementById("error_para").innerHTML = msg;
						// document.getElementById("error_file_type").innerHTML = msg;
						document.forms["share_resource"]["document_file"].focus();
						return false;
					}

					if (reg_only_char.test(event_org_name) == false) {
						msg = "INVALID NAME. PLEASE ENTER A VALID NAME";
						document.getElementById("error_title_div").style.visibility = 'visible';
						document.getElementById("error_para").innerHTML = msg;
						// document.getElementById("error_orgname").innerHTML = msg;
						document.forms["share_resource"]["published_by"].focus();
						return false;
					}

					if (reg_file.test(img) == false) {
						msg = "INVALID FILE TYPE";
						document.getElementById("error_title_div").style.visibility = 'visible';
						document.getElementById("error_para").innerHTML = msg;
						// document.getElementById("error_file_type").innerHTML = msg;
						document.forms["share_resource"]["share_image"].focus();
						return false;
					}
				}
			</script>

			<form action=" {% url 'Resource' %}" method="POST" name="share_resource" id="share_resource"
				onsubmit="return validate()">
				{% csrf_token %}
				<div class="alert alert-info alert-dismissible fade show" role="alert" id="error_title_div"
					style="visibility: hidden">
					<p id="error_para"></p>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="form-group">
					<label for="event_name">Event Title&ast;</label>
					<select class="form-control   border border-info" name="event_name" id="event_name" required>
						<option class="form-control border border-info">Select your Event</option>
						{% for eve in event.all %}
						<option class="form-control border border-info" value="{{ eve.event_title }}">
							{{ eve.event_title }}
						</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="subject"> Subject&ast; </label>
					<input type="text" class="form-control border border-info" name="subject" id="subject"
						placeholder="Subject " required>
				</div>
				<div class="form-group" id="froala-editor">
					<div class="summernote">
						<label for="descr">Description&ast; </label>
						<textarea id="descr" name="descr" class="form-control border border-info" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="published_date">Published Date&ast; </label>
					<input type="Date" class="form-control border border-info" name="published_date" id="published_date"
						placeholder="Published Date " required>
				</div>
				<div class="form-group">
					<label for="addlinks">Add Github/Docs/Drive Resource Link&ast; </label>
					<input type="text" class="form-control border border-info" name="addlinks" id="addlinks"
						aria-describedby="emailHelp" placeholder="Add Github and Drive Link " required>
				</div>
				<div class="form-group">
					<label for="document_file"> Document File&ast; </label>
					<input type="file" class="form-control border border-info" name="document_file" id="document_file"
						aria-describedby="emailHelp" placeholder="Email" required>
				</div>
				<div class="form-group">
					<label for="published_by">Published By&ast; </label>
					<input type="text" class="form-control border border-info" name="published_by" id="published_by"
						placeholder="Name of the Person" required>
				</div>
				<div class="form-group">
					<label for="share_image">Share Image&ast; </label>
					<input type="file" class="form-control border border-info" name="share_image" id="share_image"
						placeholder="Share Image " required>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-outline-info bg-dark" id="password" aria-describedby="emailHelp"
						value="Submit">
				</div>
			</form>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<br> <br>
			<br>
			<div class="row">
				<div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
					<a href="{% url 'editResource' %}" class="btn btn-dark btn-outline-info text-light">
						View Detail</a>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
					<a href="{% url 'editResource' %}" class="btn btn-dark btn-outline-info text-light">
						Edit Detail</a>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
					<a href="{% url 'editResource' %}" class="btn btn-dark btn-outline-info text-light">
						Delete Detail</a>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
			</div>
			<!-- <div class="row">
				<table class="table table-bordered  table-light table-hover ">
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'editResource' %}" class="btn btn-dark btn-outline-info text-light">
								View Detail(s)</a>
						</td>
					</tr>
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'editResource' %}" class="btn btn-dark btn-outline-info text-light">
								Edit Detail(s)</a>
						</td>
					</tr>
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'editResource' %}" class="btn btn-dark btn-outline-info text-light">
								Delete Detail(s)</a>
						</td>
					</tr>
				</table>
			</div> -->
		</div>
	</div>
</div>

{% endblock %}