{% extends 'navbar.html' %}

{%block content %}

{%load staticfiles %}

<br><br><br><br>
<div class=" container">
	<div class="row shadow p-3 mb-5 bg-white rounded">
		<div class="col-md-6">
			<h3 class="text-center">Add Event Sponsorship Details </h3>
			<hr class="bg-info col-md-8">
			{% if error %}
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<strong> {{error}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{%endif%}
			<form action=" {% url 'sponsorShipDetails' %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="event_title">Select Event&ast;</label>
					<select class="form-control   border border-info" name="event_title" required>
						<option class="form-control border border-info"> Select your Event </option>
						{% for eve in event.all %}
						<option class="form-control   border border-info"> {{ eve.event_title }}
						</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="platinum_sponsor">Platinum Sponsor&ast; </label>
					<select name="platinum_sponsor" id="platinum_sponsor" class="form-control   border border-info"
						required>
						<option class="form-control border border-info"> Select Sponsor </option>
						<option class="form-control border border-info">Platinum Sponsor </option>
					</select>
				</div>
				<div class="form-group">
					<label for="f_platinum">Facilities for Platinum&ast; </label>
					<textarea class="form-control border border-info" placeholder="Description" required id="f_platinum"
						name="f_platinum"></textarea>
				</div>
				<div class="form-group">
					<label for="ex_platinum"> Expected Amount from platinum&ast; </label>
					<input type="text" class="form-control border border-info" name="ex_platinum" id="ex_platinum"
						required placeholder="Expected Amount">
				</div>
				<div class="form-group">
					<label for="gold_sponsor">Gold Sponsor&ast;</label>
					<select name="gold_sponsor" id="gold_sponsor" class="form-control   border border-info" required>
						<option class="form-control border border-info"> Select Sponsor </option>
						<option class="form-control border border-info">Gold Sponsor </option>
					</select>
				</div>
				<div class="form-group" id="froala-editor">
					<label for="f_gold">Facilities for Gold&ast; </label>
					<textarea class="form-control border border-info" placeholder="Facilities Provieded for Gold"
						required name="f_gold" id="f_gold"></textarea>
				</div>
				<div class="form-group">
					<label for="ex_gold"> Gold Sponsor Expected Amount&ast; </label>
					<input type="text" class="form-control border border-info" name="ex_gold" id="ex_gold" required
						placeholder="Expected Amount">
				</div>
				<div class="form-group">
					<label for="silver_sponsor">Silver Sponsor&ast; </label>
					<select name="silver_sponsor" class="form-control   border border-info" id="silver_sponsor"
						required>
						<option class="form-control border border-info"> Select Sponsor </option>
						<option class="form-control border border-info">Sliver Sponsor </option>
					</select>
				</div>
				<div class="form-group">
					<label for="f_silver">Facilities for Silver&ast; </label>
					<textarea class="form-control border border-info" placeholder="Facilities" required id="f_silver"
						name="f_silver"></textarea>
				</div>
				<div class="form-group">
					<label for="ex_silver"> Expected Amount from Silver&ast; </label>
					<input type="text" class="form-control border border-info" name="ex_silver" id="ex_silver" required
						placeholder="Expected Amount for Silver">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-outline-info bg-dark" id="password" aria-describedby="emailHelp"
						value="Submit">
				</div>
			</form>
		</div>
		<div class="col-md-1">

		</div>
		<div class="col-md-5">
			<br> <br>
			<br>
			<div class="row">
				<div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
					<a href="{% url 'editSponsorShip' %}" class="btn btn-dark btn-outline-info text-light">
						View Sponsership Details</a>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
					<a href="{% url 'editSponsorShip' %}" class="btn btn-dark btn-outline-info text-light">
						Edit Sponsership Details</a>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
				<div class="alert alert-info alert-dismissible fade show col-md-12" role="alert">
					<a href="{% url 'editSponsorShip' %}" class="btn btn-dark btn-outline-info text-light">
						Delete Sponsership Details</a>
					<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
				</div>
			</div>
			<!-- <div class="row">
				<table class="table table-bordered  table-light table-hover ">
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'editSponsorShip' %}" class="btn btn-dark btn-outline-info text-light">
								View Sponsership Detail(s)</a>
						</td>
					</tr>
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'editSponsorShip' %}" class="btn btn-dark btn-outline-info text-light">
								Edit Sponsership Detail(s)</a>
						</td>
					</tr>
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'editSponsorShip' %}" class="btn btn-dark btn-outline-info text-light">
								Delete Sponsership Detail(s)</a>
						</td>
					</tr>
				</table>
			</div> -->
		</div>
	</div>
</div>

{% endblock %}