{% extends 'nav-bar-sponsor.html' %}

{%block content %}

{%load staticfiles %}
<br><br><br><br>

<div class=" container">
	<div class="row shadow p-3 mb-5 bg-white rounded">
		<div class="col-md-6">
			<h3 class="text-center">Write Blogs Sponsor</h3>
			<hr class="bg-primary col-md-8">
			{% if error %}
			<div class="alert alert-primary alert-dismissible fade show" role="alert">
				<strong> {{error}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{%endif%}
			<!-- Alerts -->
			<form action=" {% url 'blog_write_sponsor' %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="firstname"> Title &ast;</label>
					<input type="text" class="form-control border border-primary" name="blog_title" id="person_name"
						placeholder="Blog Title">
				</div>
				<div class="form-group" id="froala-editor">
					<label for="Person Name">Description&ast; </label>
					<textarea class="form-control border border-primary" placeholder="Description"
						name="description"></textarea>
				</div>
				<div class="form-group">
					<label for="Person Name">Image First &ast; </label>
					<input type="file" class="form-control border border-primary" name="image_first"
						id="event_startdate" placeholder="First Image ">
				</div>
				<div class="form-group">
					<label for="city">Second Image &ast; </label>
					<input type="file" class="form-control border border-primary" name="image_second" id="org_by"
						aria-describedby="emailHelp" placeholder="Second Image ">
				</div>
				<div class="form-group">
					<label for="mobile no">Blog Category &ast; </label>
					<input type="text" class="form-control border border-primary" name="blog_category" id="password"
						placeholder="Blog Category">

				</div>
				<div class="form-group">
					<label for="Person Name">Refrence Link &ast; </label>
					<input type="text" class="form-control border border-primary" name="refrence_link" id="person_name"
						placeholder="Refrence Links ">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-outline-primary bg-dark" id="password"
						aria-describedby="emailHelp" value="Submit">
				</div>
			</form>
		</div>

			<div class="col-md-6">
			<br> <br>
			<br>
			<div class="row">
				<table class="table table-bordered  table-light table-hover ">
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'blog_Sponsor' %}" class="btn btn-dark btn-outline-info text-light">
								Edit Blog(s)</a>
						</td>
					</tr>
					<tr class="text-dark">
						<td class="text-dark text-center">
							<a href="{% url 'blog_Sponsor' %}" class="btn btn-dark btn-outline-info text-light">
								Delete Blog(s)</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="modal fade bd-example-modal-lg" id="edit{{event.id}}" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-xl " role="document">
					<div class="modal-content">
						<div class="modal-header bg-dark">
							<h5 class="modal-title text-info" id="exampleModalLabel">Blogs Written</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body shadow-sm p-3 mb-5 bg-white rounded">
							{% if error %}
							<div class="alert alert-info alert-dismissible fade show" role="alert">
								<strong> {{error}}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							{%endif%}
							<table class="table table-bordered  table-info table-hover ">
								<thead class="thead-dark text-info">
									<tr class="text-info">
										<th class="text-info text-center"> Blog Title</th>
										<th class="text-info text-center">Description</th>
										<th class="text-info text-center"> First Image</th>
										<th class="text-info text-center">Second Image </th>
										<th class="text-info text-center">Blog Category </th>
										<th class="text-info text-center">Refrence Link</th>
									</tr>
								</thead>
								{% for blog in blogsInfo.all %}
								<tr>
									<td class="text-dark text-center">{{ blog.title }} </td>
									<td class="text-dark text-center"> {{ blog.summary }}</td>
									<td class="text-dark text-center"><img src="../../media/images/{{ blog.imageFirst.url }}" height="100"
											width="100s"></td>
									<td class="text-dark text-center"><img src="../../media/images/{{ blog.imageSecond.url }} "
											height="100" width="100s"> </td>
									<td class="text-dark text-center">
										{{ blog.blogCategory }}
									</td>
									<td class="text-dark text-center">
										{{ blog.refrenceLinks }}
									</td>
								</tr>
								{% endfor %}
							</table>
						</div>
						<div class="modal-footer bg-dark">
							<button type="button" class="btn btn-dark btn-outline-info"
								data-dismiss="modal">Close</button>
							<!-- <button type="button" class="btn  btn-dark btn-outline-info">Save changes</button>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}