{% extends 'navbar.html' %}

{% block content %}


{% load staticfiles %}


<br><br><br><br>

<div class="container">
  <!-- <h2 class="text-center">Profile</h2> -->
  <hr class="bg-info col-md-8">

  <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Profile is Created Successfully!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <style>
  p{
    padding-top: 10px;
  }
  </style>
  <div class="container col-md-10 shadow p-3 mb-5 bg-white rounded">
    <div class="card border border-info ">
      <!--style="width: 18rem;">-->
      <div class="card-body">
        <h2 class="card-title text-center">Profile</h2>
        <hr class="bg-info col-md-10">
        <!-- <h6 class="card-subtitle mb-2 text-muted">Helps to organise event</h6> -->
        <div class="row">
          <div class="col-md-9">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <p class="card-text">
              User Name
            </p>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              : {{ user }}
            </p>
          </div>
          <div class="col-md-4">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <p class="card-text">
              First Name
            </p>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              : {{ user.first_name }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <p class="card-text">
              Last Name
            </p>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              : {{ user.last_name }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <p class="card-text">
              Email
            </p>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              : {{ user.email }}
            </p>
          </div>
      
        </div>
        </div> 

        {% for pro in profil.all %}
        <div class="col-md-3">
          <img src="media/images/Profile/{{pro.profile_img}}" height="143px">
        </div>
        {% endfor %}

        <hr class="bg-info col-md-10">
      </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <a href="{% url 'editProfile' %}" class="btn btn-dark btn-outline-info text-light">Edit Profile</a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'req_pdf' %}" class="btn btn-dark btn-outline-info text-light">Get PDF</a>
          </div>
          <div class="col-md-3">
            <a href="{% url 'del_profile' request.user.id %}" class="btn btn-dark btn-outline-info text-light">Delete Profile</a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
  <hr class="bg-info col-md-8">
</div>
<br>
{% endblock %}