{% extends 'nav-bar-sponsor.html' %}

{%block content %}


{%load staticfiles %}




<br>
<br>
<br>
<br>
<br>
<br>

<section id ="eventDetail">
  <div class="overlay">
<div class="container">
	<div class="row shadow p-3 mb-5 bg-white rounded">
		<div class="col-md-12">
			<div class="table-responsive-md">
				<h3 class="text-center">Events Details</h3>
			<hr class="bg-primary col-md-8">


			<table class="table table-bordered  table-primary table-hover ">
				<thead  class="thead-dark text-primary">
					
				<tr class="text-primary">
					<th class="text-primary text-center">  {{ sponsors.event_title }} Event Name </th>
					<th class="text-primary text-center" >Platinum </th>
					<th class="text-primary text-center"> Gold</th>
					<th class="text-primary text-center">Silver</th>
					<th class="text-primary text-center">Event Sponsor Details </th>
					<th class="text-primary text-center">Event Details </th>
					
				</tr>

			</thead>
			{%  for sponsor in sponsors.all  %}
				<tr>
					<td class="text-dark text-center"> {{ sponsor.event_title }} {{event.event }} </td>
					
					<td class="text-dark text-center"> {{ sponsor.ex_platinum }} </td>
					<td class="text-dark text-center"> {{ sponsor.ex_gold }} </td>
					<td class="text-dark text-center"> {{ sponsor.ex_silver }} </td>
					<td class="text-dark text-center"> <a href="{% url 'sponsorEdit' sponsor.id %}"  class="btn btn-dark btn-outline-primary"    data-toggle="modal" data-target="#exampleModal{{sponsor.id}}" > Sponsor Details </a></td>

					<td class="text-dark text-center"> <a href="#xampleModalLong"  class="btn btn-dark btn-outline-primary"     data-toggle="modal" data-target="#exampleModalLong" >Sponsor Event</a> </td>
            <td class="text-dark text-center"> <a href="{% url 'sponsorEdit' sponsor.id %}"  class="btn btn-dark btn-outline-primary"     data-toggle="modal" data-target="#exampleModalLong" >Event Details</a> </td>
    
						
				</tr>




<div class="modal fade bd-example-modal-lg" id="exampleModal{{sponsor.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark col-md-12">
        <center><h5 class="text-primary text-center" >{{ sponsor.event_title }}  </h5></center>
        <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<div class="row center">

<div class="col-md-6">
	
<center>


<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label"><h6>Event Title</h6></label>

    <div class="col-sm-10">
    	
      <input type="text" readonly value="{{ sponsor.event_title}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  
  </div>
	

	

<h5> {{ sponsor.platinum_sponsor}}</h5>
 <hr class="bg-primary col-md-12">

<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Facilities</label>
    <div class="col-sm-10">
     	
    

  
  <p>{{ sponsor.f_platinum}}</p> 
</div>
</div>

<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Expected Amount</label>
    <div class="col-sm-10">
      <input type="text" readonly value="{{ sponsor.ex_platinum}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  </div>

<h5>{{ sponsor.gold_sponsor }}</h5>
<hr class="bg-primary col-md-12">

<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Facilities </label>
    <div class="col-sm-10">
    	<p> {{ sponsor.f_gold}}</p>
    <!--  <input type="text" readonly value="" class="form-control-plaintext" id="staticEmail"> -->
  </div>
  </div>

<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Expected Amount</label>
    <div class="col-sm-10">
      <input type="text" readonly value="{{ sponsor.ex_gold}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  </div>



<h5>{{ sponsor.silver_sponsor }}</h5>
<hr class="bg-primary col-md-12">



<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Facilities</label>
    <div class="col-sm-10">
    	<p> {{ sponsor.f_silver}}</p>
      <input type="text" readonly value="{{ sponsor.f_silver}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  </div>
<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Expected Amount</label>
    <div class="col-sm-10">
      <input type="text" readonly value="{{ sponsor.ex_silver}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  </div>

	
	

		 </center>   


</div>
<div class="col-md-6">
  
<center>
      {%  for spon in event.all  %}

<div class="form-group row">

    <label for="staticEmail"  class="col-sm-2 col-form-label"><h6>Event Title</h6></label>

    <div class="col-sm-10">
      
      <input type="text" readonly value="{{ spon.event_title}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  
  </div>
  

  

<h5> {{ spon.event}}</h5>
 <hr class="bg-primary col-md-12">

<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Facilities</label>
    <div class="col-sm-10">
    
    

  
  <p>{{ spon.event}}</p> 
</div>
</div>

<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Expected Amount</label>
    <div class="col-sm-10">
      <input type="text" readonly value="{{ spon.event}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  </div>

<h5>{{ spon.gold_sponsor }}</h5>
<hr class="bg-primary col-md-12">

<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Facilities </label>
    <div class="col-sm-10">
      <p> {{ spon.event}}</p>
    <!--  <input type="text" readonly value="" class="form-control-plaintext" id="staticEmail"> -->
  </div>
  </div>

<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Expected Amount</label>
    <div class="col-sm-10">
      <input type="text" readonly value="{{ spon.event}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  </div>



<h5>{{ spon.event}}</h5>
<hr class="bg-primary col-md-12">



<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Facilities</label>
    <div class="col-sm-10">
      <p> {{ spon.event}}</p>
      <input type="text" readonly value="{{ spon.event}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  </div>
<div class="form-group row">
    <label for="staticEmail"  class="col-sm-2 col-form-label ">Expected Amount</label>
    <div class="col-sm-10">
      <input type="text" readonly value="{{ spon.event}}" class="form-control-plaintext" id="staticEmail"> 
  </div>
  </div>

  
  
{% endfor %}
     </center>   


</div>
</div>


</div>
</div>



     <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-outline-primary" data-dismiss="modal">Close</button>
       <!-- <button type="button" class="btn  btn-dark btn-outline-primary">Save changes</button>-->
      </div>
        
       </div>



 
    </div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<h1>he</h1>
        <div class="overlay">

<h1>he</h1>
        </div>
        ...
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
   
    </div>
  </div>
</div>
  
{% endfor %}
					


</table>
</div>
</div>
</div>
</div>
</div>  
</section>








{% endblock %}