{% extends 'nav-bar-sponsor.html' %}

{%block content %}

{%load staticfiles %}

<br><br><br><br>

<div class="container">
	<h3 class="text-center"> Upcomming Events</h3>
	<hr class="bg-primary col-md-8">
	<div class="row">
		{%  for event in event.all  %}
		<div class="col-md-6">
			<div class="card border border-primary ">
				<!--style="width: 18rem;">-->
				<div class="card-body ">
					<h5 class="card-title text-center">{{ event.event_title }}</h5>
					<hr class="bg-primary col-md-8">
					<img src="{{ event.event_poster.url }}" height="200" width="100%;">
					<br>
					<br>
					<!-- <h6 class="card-subtitle mb-2 text-muted">Helps to organise event</h6> -->
					<p class="card-text"> Event Category &nbsp;&nbsp;&nbsp;: {{ event.event_category}} </p>
					<p class="card-text"> Organised By &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ event.org_name}} </p>
					<p class="card-text"> Organiser Email &nbsp;&nbsp;: {{ event.org_email}} </p>
					<p class="card-text"> Contact Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ event.org_contact_person }}
					</p>
					<p class="card-text"> Contact Number &nbsp;: {{ event.org_mobile }} </p>
					<p class="card-text"> {{ event.event_startdate }} - {{ event.event_enddate }} </p>
					<p class="card-text">{{ event.summary }}
						<a class=" text-primary" href="{% url 'eventParticipate' event.id %}"> Read More</a>
					</p>
				</div>
			</div>
		</div>
		<br>
		{% endfor %}
	</div>
	<hr class="bg-primary col-md-8">
</div>

{% endblock %}