{% extends 'base.html' %}

{%block content %}


{%load staticfiles %}


<br><br>
<br><br>



<hr class="bg-info col-md-10">
 
  <section id="Events">
  <div class="container ">
    <div  class="text-center"><h2> UpComing Events</h2><hr class="bg-info col-md-8"></div>
  <div class="row shadow p-3 mb-5 bg-white rounded">

  
    <div class="col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
      <button  class=" btn">
         <a class=" bg-dark btn btn-outline-info" href="www.google.com">
        Participate
  </a>
      </button>
    
             
          </div>
        </div>
    </div>


   <div class="col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          </div>
        </div>
    </div>
     <div class="col-md-4">
       <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>




</div>
<hr class="bg-info col-md-8">
 <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-4">

      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>


   <div class="col-md-4">
     <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>
     <div class="col-md-4">
       <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>




</div>
</div>
</section>

<hr class="bg-info col-md-10">
 
  <section id="Last Events">
  <div class="container ">
    <div  class="text-center"><h2> Completed Events</h2><hr class="bg-info col-md-8"></div>
  <div class="row shadow p-3 mb-5 bg-white rounded">

  
    <div class="col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
      <button  class=" btn">
         <a class=" bg-dark btn btn-outline-info" href="www.google.com">
        Participate
  </a>
      </button>
    
             
          </div>
        </div>
    </div>


   <div class="col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          </div>
        </div>
    </div>
     <div class="col-md-4">
       <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>




</div>
<hr class="bg-info col-md-8">
 <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-4">

      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>


   <div class="col-md-4">
     <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>
     <div class="col-md-4">
       <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>




</div>

<hr class="bg-info col-md-8">

</div>
</section>







{% endblock %}