{% extends 'base.html' %}
{%block content %}
{%load staticfiles %}

<br><br><br>
<div class="container">
	<div class="row shadow p-3 mb-5 bg-white rounded">
		<div class="col-md-12">
			{% for event in events.all %}
			<div class="card border-info">
				<div class="card-header border-info">
					<h3 class="text-center text-info">
						{{ event.event_title }}</h3>
				</div>
				<div class="card-body">
					<div class="float-right">
						<img src="/media/images/event_poster/{{event.event_poster }}" class="border-info" height="100%"
							width="100%">
					</div>
					<h5 class="card-title  text-info text-justify">Organised by:{{ event.org_name }}</h5>
					<h6 class="card-text"> {{ event.event_description }} </h6>
					<h6 class="card-text text-info">Organiser Email: {{event.org_email}}</h6>
					<h6 class="card-text text-info">Event: {{event.event_category}}</h6>
					<br>
					<a href="{% url 'accounts'%} " class=" btn btn-outline-info">Participate</a>
				</div>
				<div class="card-footer text-muted border-info">
					<h6 class="text-center text-info"> {{event.event_startdate  }}--{{event.event_enddate}}</h6>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}