{% extends 'base.html' %}
{%block content %}
{%load staticfiles %}
<br><br>
<br>
<section id="Events">
  <div class="container col-md-10">
    <div class="text-center">
      <h2> UpComing Events</h2>
      <hr class="bg-info col-md-8">
    </div>
    <div class="row shadow p-3 mb-5 bg-white rounded">
      {% for event in events %}
      <div class="col-md-4">
        <div class="card border-info mb-3" style="width: 18rem;">
          <img src="../media/images/event_poster/{{ event.event_poster }}" class="card-img-top" height="100%"
            width="100%">
          <h5 class="card-title text-info text-center">{{ event.event_title }}</h5>
          <br>
          <div class="card-body text-info">
            <h5 class="card-title">{{ event.org_name }}</h5>
            <p class="card-text">{{ event.summary }} <a class=" text-info" href="{% url 'eventDetails' event.id %}">
                Read More
              </a></p>
            <button class=" btn">
              {% if event.event_enddate  %}
              <div class="float-left">
                <p class="card-text text-info">Event Start: {{ event.event_startdate }}</p>
              </div>
              <div class="float-right">
                <a class=" bg-dark btn btn-outline-info" href="{% url 'accounts' %}">Participate </a>
              </div>
              {% endif %}
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<hr class="bg-info col-md-10">
<!--
  <section id="Last Events">
  <div class="container ">
    <div  class="text-center"><h2> Completed Events</h2><hr class="bg-info col-md-8"></div>
  <div class="row shadow p-3 mb-5 bg-white rounded">


 {% for event in eventcompleted.all %}
    <div class="col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
          <img src="{{ event.event_poster.url }}" class="card-img-top" height="140" width="100">
            <h5 class="card-title text-info text-center">{{ event.event_title }}</h5>
          <div class="card-body text-info">
            <h5 class="card-title">{{ event.org_name }}</h5>
            <p class="card-text">{{ event.summary }} <a class=" text-info" href="{% url 'eventDetails' event.id %}">
        Read More
  </a></p>
     
    
             
          </div>
        </div>
    </div>

{% endfor %}
  
    <div class="col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">hhHeader</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
      <button  class=" btn">
         <a class=" bg-dark btn btn-outline-info" href="www.google.com">
        Participate
  </a>
      </button>
    
             
          </div>
        </div>
    </div>


   <div class="col-md-4">
      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          </div>
        </div>
    </div>
     <div class="col-md-4">
       <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>




</div>
<hr class="bg-info col-md-8">
 <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class="col-md-4">

      <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>


   <div class="col-md-4">
     <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>
     <div class="col-md-4">
       <div class="card border-info mb-3" style="width: 18rem;">
        <div class="card-header">Header</div>
          <img src="..." class="card-img-top" alt="...">
            <h5 class="card-title text-info text-center">Card title</h5>
          <div class="card-body text-info">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button  class=" btn"> <a class=" bg-dark btn btn-outline-info" href="www.google.com"> Participate </a></button>
          
          </div>
        </div>
    </div>




</div>

<hr class="bg-info col-md-8">

</div>
</section>
-->


{% endblock %}